<header class="navbar">
    <div class="logo">
        <img src="../static/images/library-icon.png" alt="LibraryHub Logo" class="logo-image">
        <span class="text">LibraryHub</span>
    </div>

    <nav>
    <!-- <a href="{% url 'home' %}"
       class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
        Trang chủ
    </a> -->

    <a href="{% url 'home' %}">Trang chủ</a>

    {% if request.session.user_id %}
        {% if request.session.role == 'admin' %}
            <a href="{% url 'dashboard' %}">Quản trị</a>
        {% else %}
            <a href="{% url 'book_list' %}">Người dùng</a>
        {% endif %}
        <a href="{% url 'logout' %}">Đăng xuất</a>
    {% else %}
        <a href="{% url 'login' %}">Đăng nhập</a>
    {% endif %}

    <!-- <a href="{% url 'login' %}"
       class="{% if request.resolver_match.url_name == 'login' %}active{% endif %}">
        Đăng nhập
    </a> -->
</nav>

</header>