/* ===== HEADER ===== */
.navbar {
    background: #2c3e50;
    padding: 14px 40px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-image {
    width: 40px;
    height: 40px;
}

.logo .text {
    font-size: 20px;
    font-weight: bold;
    color: #2c3e50;
}

/* NAV */
.navbar nav a {
    margin-left: 24px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
}

nav a {
    position: relative;
    padding: 8px 0;
    color: #333;
    text-decoration: none;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #3498db;
    transition: width 0.3s ease;
}

/* Hover */
nav a:hover::after {
    width: 100%;
}

/* Active – TRANG HIỆN TẠI */
nav a.active::after {
    width: 100%;
}
