{% extends 'app/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Thêm Sách Mới</h2>
    
    <div class="card shadow-sm">
        <div class="card-body">
            <form method="POST" action="{% url 'add_book' %}" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">Tên sách</label>
                        <input type="text" name="title" class="form-control" required>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Tác giả</label>
                        <input type="text" name="author" class="form-control">
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Nhà xuất bản</label>
                        <input type="text" name="publisher" class="form-control">
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Chọn Thể loại</label>
                        <select name="category" class="form-select">
                            <option value="">-- Chọn thể loại --</option>
                            {% for cat in categories %}
                                <option value="{{ cat.id }}">{{ cat.category_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Giá tiền</label>
                        <input type="number" name="price" class="form-control">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Số lượng</label>
                        <input type="number" name="quantity" class="form-control" value="1">
                    </div>
                    
                     <div class="col-md-4">
                        <label class="form-label">Ảnh bìa</label>
                        <input type="file" name="image" class="form-control">
                    </div>

                </div>

                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Lưu sách</button>
                    <a href="{% url 'bookList' %}" class="btn btn-secondary">Hủy</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}