{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Danh mục sách</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/book_list.css' %}">
</head>

<body>
    {% if messages %}
    <div class="alert-box">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}



<div class="layout">

<aside class="sidebar">
 <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/library-icon.png' %}" 
                     alt="LibraryHub Logo" 
                     class="logo-image">
            </a>
        </div>
    <ul>
        <li><a href="{% url 'book_list' %}" class="active">Danh mục sách</a></li>
        <li><a href="{% url 'borrow_request_list' %}">Danh sách yêu cầu đã tạo</a></li>
        <li><a href="{% url 'fine_list' %}">Danh sách hình phạt</a></li>
        <li><a href="{% url 'logout' %}">Đăng xuất</a></li>
    </ul>
</aside>

<!-- ========== MAIN ========== -->
<main class="main">
        <h1 class="page-title">Danh mục sách</h1>

        <div class="table-container">
            <table class="request-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tiêu đề</th>
                    <th>Giá</th>
                    <th>NXB</th>
                    <th>Tác giả</th>
                    <th>Thể loại</th>
                    <th>Mô tả</th>
                    <th>Hành động</th>
                </tr>
                </thead>

                <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.book_id }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.price }} đ</td>
                    <td>{{ book.publisher.name }}</td>

                    <td>
                        {% for a in book.authors.all %}
                            {{ a.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>

                    <td>
                        {% for c in book.categories.all %}
                            {{ c.category_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>

                    <td>{{ book.description|truncatechars:60 }}</td>

    <td class="action-cell">
        <i class="fa fa-ellipsis-v action-btn" onclick="toggleMenu('{{ book.book_id }}')"></i>
    
        <div class="action-menu" id="menu-{{ book.book_id }}">
            <div class="menu-item" 
             onclick="openDetail(this)"
             data-title="{{ book.title|escapejs }}" 
             data-description="{{ book.description|escapejs }}">
            <i class="fa fa-eye"></i> Xem chi tiết
            </div>
        
            <div class="menu-item" 
                onclick="openBorrow('{{ book.book_id }}')">
                <i class="fa fa-book"></i> Mượn sách
            </div>

            <div class="menu-item"
            onclick="openReview('{{ book.book_id }}', '{{ book.title|escapejs }}')">
            <i class="fa fa-star"></i> Đánh giá sách
            </div>


        </div>
</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</div>

<div class="modal" id="detailModal">
    <div class="modal-content">
        <h3>Xem chi tiết sách</h3>

        <div class="form-group">
            <label>Tiêu đề</label>
            <input id="detailTitle" readonly>
        </div>

        <div class="form-group">
            <label>Mô tả</label>
            <textarea id="detailDesc" rows="4" readonly></textarea>
        </div>

        <button class="btn-secondary" onclick="closeDetail()">Đóng</button>
    </div>
</div>


<div class="modal" id="borrowModal">
    <div class="modal-content">
        <h3>Mượn sách</h3>

        <form method="post" action="{% url 'create_borrow' %}">
            {% csrf_token %}
            <input type="hidden" name="book_id" id="borrowBookId">

            <div class="form-group">
                <label>Ngày mượn</label>
                <input type="date" name="borrow_date" id="borrowDate" readonly>
            </div>

            <div class="form-group">
                <label>Ngày trả (tối đa 15 ngày)</label>
                <input type="date" name="return_date" id="returnDate" >
            </div>

            <button class="btn-primary" type="submit">Xác nhận</button>
            <button type="button" class="btn-secondary" onclick="closeBorrow()">Hủy</button>
        </form>
    </div>
</div>

<!-- {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %} -->



<div class="modal" id="reviewModal">
    <div class="modal-content">
        <h3 id="reviewBookTitle">Đánh giá sách</h3>

        <!-- HIỂN THỊ REVIEW -->
        <div class="review-list">
            {% for book in books %}
            <div id="reviews-{{ book.book_id }}" class="reviews" style="display:none">
                {% for r in book.reviews.all %}
                    <div class="review-item">
                        <p>{{ r.comment }}</p>

                        {% if r.sentiment == 'positive' %}
                            <span class="badge bg-success">Tích cực</span>
                        {% elif r.sentiment == 'negative' %}
                            <span class="badge bg-danger">Tiêu cực</span>
                        {% else %}
                            <span class="badge bg-secondary">Trung lập</span>
                        {% endif %}
                    </div>
                {% empty %}
                    <p>Chưa có đánh giá</p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <!-- FORM REVIEW -->
        <form method="post" id="reviewForm" >
            {% csrf_token %}

            <input type="hidden" name="book_id" id="reviewBookId">

            <div class="form-group">
                <label>Bình luận</label>
                <textarea name="comment" required></textarea>
            </div>

            <button class="btn-primary" type="submit">Gửi đánh giá</button>
            <button type="button" class="btn-secondary" onclick="closeReview()">Đóng</button>
        </form>
    </div>
</div>




<!-- ========== FOOTER ========== -->
<footer class="site-footer">
    <div class="footer-bottom">
        © 2025 LibraryHub
    </div>
</footer>

<script src="{% static 'js/book_list.js' %}"></script>
</body>

</html>
